In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import f1_score

In [49]:
loan = pd.read_csv("D:\\econometrics\\madfhantr.csv")
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [50]:
loan.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [51]:
#mapping

loan['Education'] = loan['Education'].map({'Graduate':1.0, 'Not Graduate':0})
loan['Self_Employed'] = loan['Self_Employed'].map({'Yes':1.0, 'No':0})
loan['Property_Area'] = loan['Property_Area'].map({'Urban':2.0, 'Semiurban':1.0, 'Rural':0})
loan['Gender'] = loan['Gender'].map({ 'Male':1.0, 'Female':0})
loan['Married'] = loan['Married'].map({'Yes':1.0, 'No':0})
loan['Dependents'] = loan['Dependents'].map({'3+':3,'2':2.0, '1':1.0, '0':0})

In [52]:
loan.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [53]:
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0.0,1.0,0.0,5849,0.0,NaN,360.0,1.0,2.0,Y
1,LP001003,1.0,1.0,1.0,1.0,0.0,4583,1508.0,128.0,360.0,1.0,0.0,N
2,LP001005,1.0,1.0,0.0,1.0,1.0,3000,0.0,66.0,360.0,1.0,2.0,Y
3,LP001006,1.0,1.0,0.0,0.0,0.0,2583,2358.0,120.0,360.0,1.0,2.0,Y
4,LP001008,1.0,0.0,0.0,1.0,0.0,6000,0.0,141.0,360.0,1.0,2.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0.0,0.0,0.0,1.0,0.0,2900,0.0,71.0,360.0,1.0,0.0,Y
610,LP002979,1.0,1.0,3.0,1.0,0.0,4106,0.0,40.0,180.0,1.0,0.0,Y
611,LP002983,1.0,1.0,1.0,1.0,0.0,8072,240.0,253.0,360.0,1.0,2.0,Y
612,LP002984,1.0,1.0,2.0,1.0,0.0,7583,0.0,187.0,360.0,1.0,2.0,Y
613,LP002990,0.0,0.0,0.0,1.0,1.0,4583,0.0,133.0,360.0,0.0,1.0,N

In [54]:
X = loan.drop(['Loan_ID'],axis = 1)

In [55]:
X.isna().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [56]:
X['Self_Employed'].fillna(0, inplace = True)
X['Credit_History'].fillna(0.8421985815602837, inplace = True)
X['Dependents'].fillna(0, inplace = True)
X['Married'].fillna(0, inplace = True)
X['LoanAmount'].fillna(129.0, inplace = True)
X['Loan_Amount_Term'].fillna(342.0, inplace = True)
X.isna().sum()

Gender               13
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [57]:
X = X.dropna()

In [58]:
#reducing the biasness of input data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data = X.drop(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed','Credit_History', 'Property_Area','Loan_Status'],axis =1)
data
X = X.drop(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term'], axis =1)

In [59]:
scaler.fit(data)
StandardScaler()
transf =(scaler.transform(data))
scaled_data = pd.DataFrame(data = transf, columns= ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term'])
scaled_data

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
0           0.095343          -0.551616   -0.190445          0.278454
1          -0.123253          -0.039594   -0.202787          0.278454
2          -0.396584          -0.551616   -0.967976          0.278454
3          -0.468586           0.249013   -0.301521          0.278454
4           0.121416          -0.551616   -0.042344          0.278454
..               ...                ...         ...               ...
596        -0.413850          -0.551616   -0.906268          0.278454
597        -0.205615          -0.551616   -1.288862         -2.507635
598         0.479181          -0.470127    1.339934          0.278454
599         0.394747          -0.551616    0.525377          0.278454
600        -0.123253          -0.551616   -0.141078          0.278454

[601 rows x 4 columns]

In [60]:
X = pd.concat([X,scaled_data],
    axis=1,
    join='inner',
    join_axes=None,
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    sort=None,
    copy=True,
)

In [61]:
X

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Loan_Status,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term
0,1.0,0.0,0.0,1.0,0.0,1.000000,2.0,Y,0.095343,-0.551616,-0.190445,0.278454
1,1.0,1.0,1.0,1.0,0.0,1.000000,0.0,N,-0.123253,-0.039594,-0.202787,0.278454
2,1.0,1.0,0.0,1.0,1.0,1.000000,2.0,Y,-0.396584,-0.551616,-0.967976,0.278454
3,1.0,1.0,0.0,0.0,0.0,1.000000,2.0,Y,-0.468586,0.249013,-0.301521,0.278454
4,1.0,0.0,0.0,1.0,0.0,1.000000,2.0,Y,0.121416,-0.551616,-0.042344,0.278454
...,...,...,...,...,...,...,...,...,...,...,...,...
596,1.0,1.0,2.0,0.0,1.0,1.000000,0.0,N,-0.413850,-0.551616,-0.906268,0.278454
597,1.0,0.0,0.0,1.0,0.0,0.000000,1.0,N,-0.205615,-0.551616,-1.288862,-2.507635
598,1.0,1.0,0.0,1.0,1.0,1.000000,0.0,Y,0.479181,-0.470127,1.339934,0.278454
599,1.0,1.0,2.0,1.0,0.0,1.000000,2.0,Y,0.394747,-0.551616,0.525377,0.278454
600,0.0,0.0,3.0,1.0,0.0,0.842199,2.0,N,-0.123253,-0.551616,-0.141078,0.278454

In [63]:
Y = X['Loan_Status'].map({'N':0, 'Y':1})
print(Y)

0      1
1      0
2      1
3      1
4      1
      ..
596    0
597    0
598    1
599    1
600    0
Name: Loan_Status, Length: 588, dtype: int64

In [64]:
X = X.drop(['Loan_Status'],axis = 1)

In [65]:
X.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
Credit_History       0
Property_Area        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
dtype: int64

In [66]:
Y.isna().sum()

0

In [67]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.35, random_state=42)

In [68]:
from sklearn.neighbors import KNeighborsClassifier  
kmodel = KNeighborsClassifier(n_neighbors = 3, metric = 'rogerstanimoto' )        
kmodel.fit(X_train,y_train)
ypred_train = kmodel.predict(X_train)


#How it is performing on unknown data
ypred_test = kmodel.predict(X_test)
print(((ypred_test == y_test).sum()/len(X_test))*100)

77.18446601941747

In [69]:
from xgboost import XGBRFClassifier
xg = XGBRFClassifier(learning_rate=0.8, subsample=1,colsample_bynode=0.8,reg_lambda=1e-10)
xg.fit(X_train,y_train)
xg_y_pred= xg.predict(X_test)
((xg_y_pred == y_test).sum())/len(y_test)

C:\Users\lenovo\Anaconda3\lib\site-packages\distributed\utils.py:133: RuntimeWarning: Couldn't detect a suitable IP address for reaching '8.8.8.8', defaulting to '127.0.0.1': [WinError 10051] A socket operation was attempted to an unreachable network
  RuntimeWarning,

0.7669902912621359

In [70]:
from sklearn.neighbors import VALID_METRICS
print(VALID_METRICS)

{'ball_tree': ['euclidean', 'l2', 'minkowski', 'p', 'manhattan', 'cityblock', 'l1', 'chebyshev', 'infinity', 'seuclidean', 'mahalanobis', 'wminkowski', 'hamming', 'canberra', 'braycurtis', 'matching', 'jaccard', 'dice', 'kulsinski', 'rogerstanimoto', 'russellrao', 'sokalmichener', 'sokalsneath', 'haversine', 'pyfunc'], 'kd_tree': ['euclidean', 'l2', 'minkowski', 'p', 'manhattan', 'cityblock', 'l1', 'chebyshev', 'infinity'], 'brute': ['cityblock', 'cosine', 'euclidean', 'haversine', 'l2', 'l1', 'manhattan', 'precomputed', 'braycurtis', 'canberra', 'chebyshev', 'correlation', 'cosine', 'dice', 'hamming', 'jaccard', 'kulsinski', 'mahalanobis', 'matching', 'minkowski', 'rogerstanimoto', 'russellrao', 'seuclidean', 'sokalmichener', 'sokalsneath', 'sqeuclidean', 'yule', 'wminkowski']}

In [71]:
#now check with logistic regression
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(class_weight=None)
logreg.fit(X_train,y_train)
logreg_y_pred = logreg.predict(X_test)

print((((logreg_y_pred == y_test).sum())/ len(y_test))*100)

C:\Users\lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

81.55339805825243

In [72]:
tr = logreg.predict(X_train)

In [73]:
(((tr == y_train).sum())/len(y_train))*100

79.84293193717278

In [74]:
f1_score(y_test,logreg_y_pred,average = 'macro')

0.7254489337822672

In [75]:
#now use naive bayes
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_train,y_train)
nb_y_pred = nb.predict(X_test)
(((nb_y_pred == y_test).sum())/len(y_test))* 100

81.06796116504854

In [76]:
f1_score(y_test,nb_y_pred,average = 'macro')

0.7249666221628839

In [77]:
testing =pd.read_csv("D:\\econometrics\\madhante.csv")
testing

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [78]:

testing['Education'] = testing['Education'].map({'Graduate':1.0, 'Not Graduate':0})
testing['Self_Employed'] = testing['Self_Employed'].map({'Yes':1.0, 'No':0})
testing['Property_Area'] = testing['Property_Area'].map({'Urban':2.0, 'Semiurban':1.0, 'Rural':0})
testing['Gender'] = testing['Gender'].map({ 'Male':1.0, 'Female':0})
testing['Married'] = testing['Married'].map({'Yes':1.0, 'No':0})
testing['Dependents'] = testing['Dependents'].map({'3+':3,'2':2.0, '1':1.0, '0':0})

In [79]:
testing['Dependents']=testing.Dependents.fillna(0)

In [80]:
testing['Self_Employed']=testing.Self_Employed.fillna(0)

In [81]:
testing['Credit_History']=testing.Credit_History.fillna(0)

In [82]:
testing['Gender']=testing.Gender.fillna(0)

In [83]:
testing['LoanAmount']=testing.LoanAmount.fillna(0)
testing['Loan_Amount_Term']=testing.Loan_Amount_Term.fillna(360)

In [84]:
testing.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [85]:
testing_ = testing.drop(['Loan_ID'],axis = 1)

In [59]:
b4cl = submit.reshape(-1,1)

In [60]:
rcol = pd.DataFrame(data=b4cl,columns=['Loan_Status'])

In [61]:
rcol

     Loan_Status
0              1
1              1
2              1
3              0
4              1
..           ...
362            1
363            1
364            0
365            1
366            1

[367 rows x 1 columns]

In [62]:
lco = testing.Loan_ID

In [63]:
lcol = pd.DataFrame(data= lco, columns= ['Loan_ID'])

In [64]:
lcol,rcol

(      Loan_ID
 0    LP001015
 1    LP001022
 2    LP001031
 3    LP001035
 4    LP001051
 ..        ...
 362  LP002971
 363  LP002975
 364  LP002980
 365  LP002986
 366  LP002989

 [367 rows x 1 columns],      Loan_Status
 0              1
 1              1
 2              1
 3              0
 4              1
 ..           ...
 362            1
 363            1
 364            0
 365            1
 366            1

 [367 rows x 1 columns])

In [65]:
rcol_ser= rcol

In [66]:
submit = pd.concat([lcol,rcol],
    axis=1,
    join='inner',
    join_axes=None,
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    sort=None,
    copy=True,
)

In [67]:
submit

      Loan_ID  Loan_Status
0    LP001015            1
1    LP001022            1
2    LP001031            1
3    LP001035            0
4    LP001051            1
..        ...          ...
362  LP002971            1
363  LP002975            1
364  LP002980            0
365  LP002986            1
366  LP002989            1

[367 rows x 2 columns]

In [68]:
trirfc = submit

In [69]:
trirfc.Loan_Status=trirfc['Loan_Status'].map({1:'Y',0:'N'})

In [70]:
trirfc

      Loan_ID Loan_Status
0    LP001015           Y
1    LP001022           Y
2    LP001031           Y
3    LP001035           N
4    LP001051           Y
..        ...         ...
362  LP002971           Y
363  LP002975           Y
364  LP002980           N
365  LP002986           Y
366  LP002989           Y

[367 rows x 2 columns]

In [71]:
trirfc.to_csv('Desktop/xg.csv')

In [185]:
#now use  Stocastic Gradient Descent
from sklearn.linear_model import SGDClassifier
sgd = SGDClassifier()
sgd.fit(X_train,y_train)
sgd_y_pred = sgd.predict(X_test)
(((sgd_y_pred == y_test).sum())/len(y_test))*100

50.82872928176796

In [186]:
f1_score(y_test,sgd_y_pred,average = 'macro')

0.46024459708493887

In [194]:
# now use KNN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=199)
knn.fit(X_train, y_train)
knn_y_pred = knn.predict(X_test)
(((knn_y_pred == y_test).sum())/len(y_test))*100

71.27071823204419

In [195]:
f1_score(y_test,knn_y_pred,average = 'macro')

C:\Users\lenovo\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

0.4161290322580645

In [198]:
#now use support vector machine
from sklearn.svm import SVC
svm = SVC(degree= 9,gamma='auto')
svm.fit(X_train,y_train)
svm_y_pred = svm.predict(X_test)
(((svm_y_pred == y_test).sum())/len(y_test))*100

71.27071823204419

In [199]:
f1_score(y_test,svm_y_pred,average = 'macro')

C:\Users\lenovo\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

0.4161290322580645

In [202]:
#random forest
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier( n_estimators='warn', criterion='gini',max_depth=5,min_samples_split=5, min_samples_leaf=5, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0,min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=None, random_state=None,verbose=0,warm_start=False,class_weight=None,)
rfc.fit(X_train,y_train)
rfc_y_pred= rfc.predict(X_test)
(((rfc_y_pred == y_test).sum())/len(y_test))*100

C:\Users\lenovo\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

80.11049723756905

In [203]:
f1_score(y_test,rfc_y_pred,average = 'macro')

0.7376811594202898

In [69]:
testing.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [73]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(X_train,y_train)
dtc_pred=dtc.predict(X_test)

In [74]:
(((dtc_y_pred == y_test).sum())/len(y_test))*100

70.71823204419888

In [75]:
f1_score(y_test,dtc_pred,average = 'macro')

0.6484148799706799